.footerCardWrapper{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

    ul {
        list-style: none;
        color:  #545454;
        ;
      }

      ul li{
        cursor: pointer;
      }

      .footerContainer{
      background-color: rgb(234,234,234);
      }

      .listedItemsWrapper{
        display: flex; gap: 1rem;
      }


      .supportingLink{
        text-decoration: none;
      }